.cover__link {
  position: relative;
  display: flex;
  text-decoration: none;
  background-image: url(../../../images/background.jpg);
  background-size: cover;
  color: inherit;
  cursor: pointer;
  z-index: 1;
  min-height: 740px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__link::after {
  content: "";
  position: absolute;
  background: #2A2C2F;
  opacity: .3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.cover__link:hover:after {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}

@media(max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media(max-width: 768px) {
  .cover__link {
    min-height: 200px;
    max-height: 480px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media(max-width: 320px) {
  .cover__link {
    min-height: 200px;
    padding-right: 0;
    padding-left: 0;
  }
}
