.place__paragraf {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0px 0px 26px 0px;
    padding: 0px;
    grid-area: text;
}

.place__paragraf:last-child {
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .place__paragraf {
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 620px) {
    .place__paragraf {
        margin: 0;
    }

}