.lang-link {
  margin-right: 18px;
  width: 29px;
  height: 28px;
  top: 46px;
  justify-content: end;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
  color: white;
  text-decoration: underline;
}

.langes  li:nth-child(2) {
  margin-right: 0px;
  text-decoration: none;
  }

