.header {
     padding: 28px 48px 56px;
    height: 52px;
    font-family: 'Inter';
    display: flex;
    justify-content: space-between;
}

  @media screen and (max-width: 1024px) {
    /* Стили для устройств, у которых ширина viewport больше или равно 1024 пикселей */
    .header {
    padding: 28px 48px 48px;
  }
  }


  @media screen and (max-width: 768px) {
    /* Стили для устройств, у которых ширина viewport больше или равно 1024 пикселей */
    .header {
    padding: 28px 24px 48px;
  }
  }

  @media screen and (max-width: 320px) {
    /* Стили для устройств, у которых ширина viewport больше или равно 1024 пикселей */
    .header {
    padding: 16px 16px 48px;
  }
  }