.intro__number {
    margin: 0px 0px 0px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
}

