.cover {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 92px 48px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 88px 0px 88px;
    width: 100%;
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 88px 0px 88px;
    width: 100%;
    max-height: 480px;

  }
}


@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0px 64px;
    max-height: 200px;
  }
}