.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
    margin-bottom: 80px;
    grid-template-areas:
        "title web"
        "image text";
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 73px;
        grid-gap: 48px 28px;
        grid-template-areas:
        "title"
        "web"
        "image"
        "text";
    }
}



@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
        grid-gap: 0px;
        grid-template-areas:
            "title"
            "web"
            "image"
            "text";
    }
}