.footer__list {
margin: 0px;
list-style-type: none;
display: grid;
grid-template-columns: repeat(5,max-content);/*
grid-template-areas:
    "card weather canban date trip";*/
}
@media screen and (max-width: 768px) {
    .footer__list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 320px) {
    .footer__list {
        grid-template-columns: 1fr;
    }
}
