.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
    margin-top: 80px;
    grid-template-areas:
        "title web"
        "image text";
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        margin-top: 73px;
        grid-gap: 48px 28px;
    }
}
@media screen and (max-width: 620px) {
    .place {
        margin-top: 50px;
        grid-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "web"
        "image"
        "text";
    }
}

