.intro__name {
    margin: 0px 8px 0px 0px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
}