.langes {
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;

}/*
.langes:nth-child(2) {
  margin-right: 0px;
  text-decoration: underline;
  }

  @media screen and (max-width: 320px) {

    /* Стили для устройств, у которых ширина viewport больше или равно 1024 пикселей 
    .langes {
      max-height: 42px;
    }
}
*/